h1 {
  text-align: center;
  text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 6em;
  line-height: 4;
  font-family: 'Arizona', cursive;
  color: #333;
}
h2 {
  text-align: center;
  margin: 20px;
}

img {
  display:block;
  margin:auto;
}
